#hi, body, html{
    height: 100%;
}

body{
  overflow-y: scroll; 
  opacity: ; 
  padding: 0%;
  margin: 0%;
  border: 100%;
  border-radius: 5%;
}

.input-1{
    border: 5%;
    border-radius: 50%;
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
    top: 20%;
    gap: 287855%;
    
}
